In [1]:
import pandas as pd
import numpy as np
from math import floor
import math
import os
from datetime import datetime
import xarray as xr
from tqdm.notebook import tqdm

# Listado de playas con avistamientos y fechas

In [2]:
avistamientos_df = pd.read_excel("./ExcelsAvistamientosIniciales/Physalia_Ambiental_R.xlsx")
# avistamientos_df = pd.read_excel("../Physala_Data/Datos_Physalia_20171010.xls")

columnas = avistamientos_df.iloc[0]

#Quito las 3 primeras filas, debido al formato de la excell
avistamientos_df = avistamientos_df.iloc[3:] 
avistamientos_df.columns = columnas

# Me quedo solo con los datos de avistamientos
avistamientos_df = avistamientos_df[["Latitud","Longitud","Año","Mes","Día","Avistamientos"]]

#Transdormaciones para sacar con fecha (datetime)
avistamientos_fecha_df=avistamientos_df[["Año","Mes","Día"]]
avistamientos_fecha_df.columns = ["year","month","day"]

fecha = pd.to_datetime(avistamientos_fecha_df)

avistamientos_df["Fecha"]=fecha
avistamientos_df=avistamientos_df[["Latitud","Longitud","Fecha","Avistamientos"]]
avistamientos_df.head()

0  Latitud Longitud      Fecha Avistamientos
3    -25.4 -70.4833 2014-05-01             1
4 -18.4631 -70.3053 2014-05-01             1
5 -27.0658 -70.8259 2014-05-09            13
6 -18.4933 -70.3261 2014-05-10            15
7  -27.122 -70.8576 2014-05-10            23

# Exporto listado de playas sin redondear coordenadas

In [3]:
# Genera excel con las coordenadas de las playas
playas_df = avistamientos_df.reset_index()
playas_df = playas_df[['Latitud','Longitud']]
playas_df.to_excel('./1AvistamientosSinRedondeoCoord.xlsx')

In [4]:
base = 1/4
def redondeo(x,y):
    return  [base * round(x/base),base * round(y/base)]
x = redondeo(37.1707222222222,-73.2053333333333)
x

[37.25, -73.25]

# Redondeo a cada cuarto de grado
Redondeo de latitud y longitud para juntar lecturas de una misma playa con coordenadas muy proximas

Se exporta el dataframe generado a un excel

In [5]:
base=1/4
def floorQuarter(x):
    return (floor(x * 4) / 4.0) 

def redondeo(x):
    return  base * round(x/base)

#Se añaden atributos con la longitud y latitud redondeadas a cada cuarto de grado
avistamientos_df["Lat_floor"] = avistamientos_df.Latitud.map(redondeo)
avistamientos_df["Long_floor"] = avistamientos_df.Longitud.map(redondeo)

df = avistamientos_df[['Lat_floor', 'Long_floor',"Fecha","Avistamientos"]]
df = df.set_index(['Lat_floor', 'Long_floor',"Fecha"])

#DataFrame total avistamientos de playas en esa cuadricula
df_sum = df.groupby(['Lat_floor', 'Long_floor',"Fecha"]).sum()

#DataFrame número de playas en esa cuadricula
df_count = df.groupby(['Lat_floor', 'Long_floor',"Fecha"]).count()

#Dataframe con el total de avistamientos y el número de playas
df_join = df_sum.join(df_count,lsuffix="I",rsuffix="R")
df_join.columns=['Suma', 'N_Playas']
df_join['Media_Playas'] = df_join.Suma /df_join.N_Playas

# DataFrame de avistamientos procesado
df_join.to_excel("2AvistamientosConRedondeoCoord-025.xlsx")

df_join.head()

                                 Suma  N_Playas  Media_Playas
Lat_floor Long_floor Fecha
-42.75    -74.00     2015-05-27     1         1           1.0
-41.75    -73.75     2014-06-04     1         1           1.0
                     2015-06-10    20         1          20.0
                     2015-06-11   151         1         151.0
          -73.50     2015-05-23     1         1           1.0

# Redondeo con salto entre cuadrantes de dataSet original (0,0833)
Redondeo de latitud y longitud para juntar lecturas de una misma playa con coordenadas muy proximas

Se exporta el dataframe generado a un excel

In [6]:
base=1/12
def floorTwelfth(x):
    return (floor(x * 12) / 12.0)

def redondeo(x):
    return  base * round(x/base)

#Se añaden atributos con la longitud y latitud redondeadas a cada cuarto de grado
avistamientos_df["Lat_floor"] = avistamientos_df.Latitud.map(redondeo)
avistamientos_df["Long_floor"] = avistamientos_df.Longitud.map(redondeo)

df = avistamientos_df[['Lat_floor', 'Long_floor',"Fecha","Avistamientos"]]
df = df.set_index(['Lat_floor', 'Long_floor',"Fecha"])

#DataFrame total avistamientos de playas en esa cuadricula
df_sum = df.groupby(['Lat_floor', 'Long_floor',"Fecha"]).sum()

#DataFrame número de playas en esa cuadricula
df_count = df.groupby(['Lat_floor', 'Long_floor',"Fecha"]).count()

#Dataframe con el total de avistamientos y el número de playas
df_join = df_sum.join(df_count,lsuffix="I",rsuffix="R")
df_join.columns=['Suma', 'N_Playas']
df_join['Media_Playas'] = df_join.Suma /df_join.N_Playas

# DataFrame de avistamientos procesado
df_join.to_excel("2AvistamientosConRedondeoCoord-00833.xlsx")

In [7]:
df_join.head()

                                  Suma  N_Playas  Media_Playas
Lat_floor  Long_floor Fecha
-42.666667 -74.083333 2015-05-27     1         1           1.0
-41.833333 -73.833333 2014-06-04     1         1           1.0
           -73.500000 2015-05-23     1         1           1.0
-41.666667 -73.750000 2015-06-10    20         1          20.0
                      2015-06-11   151         1         151.0

## Exporto listado de coordenadas para utilizarlo en la web

In [8]:
df_web = df_join.reset_index().rename(columns={"Lat_floor": "Latitud", "Long_floor": "Longitud"})[['Latitud','Longitud']]
# df_web.to_excel("Playas.xlsx")

# Estructura Buena

In [9]:
# DF con playas
# df_playas = pd.read_excel('./2AvistamientosConRedondeoCoord-025.xlsx').reset_index()
df_playas = pd.read_excel('./2AvistamientosConRedondeoCoord-00833.xlsx').reset_index()
'''
Las celdas que estaban unidas por tener el mismo valor, tienen valores nulos
por lo que las relleno con us valor correspodiente
'''
df_playas = df_playas.fillna(method= 'ffill',axis=0)
# Cojo las columnas que me interesan
df_playas = df_playas[["Suma","Lat_floor","Long_floor","Fecha"]]
# Renombro las columnas 
df_playas = df_playas.rename(columns={"Suma": "Avistamientos", "Lat_floor": "Latitud", "Long_floor": "Longitud"})
# Ordeno por fecha
df_playas = df_playas.sort_values(by=["Fecha"])

In [10]:
df_playas # DataFrame con avistamientos en cada playa
cuadrantes = { # Numero de cuadrantes que se concatenarán con las playas
    'izquierda': 2 ,
    'arriba': 2,
    'abajo': 2
}
dias_desfase = 14
salto = 1/12 # Salto de coordenadas entre los cuadrantes
listado_archivos = os.listdir('../../descargas') # Listo todos los archivos de Copernicus
variables = ['Coord','Profundidad','mlotst','zos','bottomT','thetao','so','uo','vo']

In [11]:
def busca_archivo(fecha):
    texto ='_{}_'.format(str(fecha).split()[0].replace('-',''))
    archivo = [x for x in listado_archivos if str(texto) in x]
    data = xr.open_dataset('../../descargas/{}'.format(archivo[0])) # cargo el archivo
    return data # devuelvo dataset

def dame_datos(latitud,longitud,ds):
    return ds.sel({'latitude':latitud,'longitude': longitud})

def comprueba_datos(latitud,longitud,ds):
    valor = dame_datos(latitud,longitud,ds)
    while math.isnan(valor.mlotst[0]):
        longitud = longitud - salto
        valor = dame_datos(latitud,longitud,ds)
    return latitud,longitud # devuelvo las coordenadas con datos

def crea_DF():
    df_resultados = None
    df_resultados = pd.DataFrame(columns=["Avistamientos","Latitud","Longitud","Fecha",'Coord',"Profundidad","mlotst",'zos','bottomT','thetao','so','uo','vo']) # columnas básicas
    for izquierda in range(cuadrantes['izquierda']): # por cada cuadrante a la izquierda meto un grupo de columnas
        var_aux = [str(x+'_izq_'+str(izquierda+1)) for x in variables]
        df_aux = pd.DataFrame(columns=var_aux)
        df_resultados = df_resultados.join(df_aux)
        for superior in range (cuadrantes['arriba']): # por cada cuadrante a la superior meto un grupo de columnas
            var_aux = [x+'_sup_'+str(izquierda+1)+'.'+str(superior+1) for x in variables]
            df_aux = pd.DataFrame(columns=var_aux)
            df_resultados = df_resultados.join(df_aux)
        for inferior in range (cuadrantes['abajo']): # por cada cuadrante a la inferior meto un grupo de columnas    
            var_aux = [x+'_inf_'+str(izquierda+1)+'.'+str(inferior+1) for x in variables]
            df_aux = pd.DataFrame(columns=var_aux)
            df_resultados = df_resultados.join(df_aux)
    return df_resultados

def meto_en_df(df_resultados,row,coordenadas,df,indice,variables_actuales):
    for x in range(3):
        df_resultados.loc[indice + x,["Avistamientos","Latitud","Longitud","Fecha"]] = row.values.tolist() # meto en df_resulados los datos de ese cuadrante
        vars = df.loc[x,['depth', 'mlotst','zos','bottomT','thetao','so','uo','vo']].values.tolist()
        vars.insert(0,coordenadas)
        df_resultados.loc[indice + x,variables_actuales] = vars # meto coordenadas reales utilizadas y datos 
    return df_resultados

def dameCoordIzq(lat,long,n_saltos):
    return [lat,long-(salto*n_saltos)]

def dameCoordSuperior(lat,long,n_saltos):
    coordenadas = dameCoordIzq(lat,long,n_saltos)
    return [lat+(salto*n_saltos),long]

def dameCoordInferior(lat,long,n_saltos):
    return [lat-(salto*n_saltos),long]

def resta_fecha(fecha,dias):
    return fecha - pd.Timedelta(days=2)

In [12]:
def crea_estr():
    df_resultados = crea_DF() # creo df con columnas necesarias
    #print(df_resultados)
    total_lineas = df_playas.shape[0]
    pbar = tqdm(total = total_lineas)
    for contador,[index, row] in enumerate(df_playas.iterrows()): # por cada playa
#         print(contador,end='\r')
        pbar.update(1)
        ds = busca_archivo(resta_fecha(row['Fecha'],dias_desfase)) # busco el archivo de la fecha 
        coordenadas = comprueba_datos(row['Latitud'],row['Longitud'],ds) # miro a ver si el cuadrante tiene datos, sino cojo el siguiente por la izquierda

        df = dame_datos(coordenadas[0],coordenadas[1],ds).to_dataframe().reset_index() # dataframe con los datso oceanicos de esas coordenadas y en esa fecha
        df_resultados = meto_en_df(df_resultados,row,list(coordenadas),df,contador * 3,variables)
#         print('--{}'.format(contador))
        # datos de las celdas extras
        for izquierda in range(cuadrantes['izquierda']): # por cada cuadrante a la izquierda, añado datos
            coordenadas = dameCoordIzq(coordenadas[0],coordenadas[1],izquierda+1)
            df = dame_datos(coordenadas[0],coordenadas[1],ds).to_dataframe().reset_index() 
            var_aux = [x+'_izq_'+str(izquierda+1) for x in variables]
            df_resultados = meto_en_df(df_resultados,row,coordenadas,df,contador * 3,var_aux)
            coord_aux = coordenadas
            for superior in range (cuadrantes['arriba']): # por cada cuadrante a la superior, añado datos
                coord_aux = dameCoordSuperior(coord_aux[0],coord_aux[1],superior+1)
                df = dame_datos(coord_aux[0],coord_aux[1],ds).to_dataframe().reset_index() 
                var_aux = [x+'_sup_'+str(izquierda+1)+'.'+str(superior+1) for x in variables]
                df_resultados = meto_en_df(df_resultados,row,coord_aux,df,contador * 3,var_aux)
            coord_aux = coordenadas
            for inferior in range (cuadrantes['abajo']): # por cada cuadrante a la inferior, añado datos  
                coord_aux = dameCoordInferior(coord_aux[0],coord_aux[1],inferior+1)
                df = dame_datos(coord_aux[0],coord_aux[1],ds).to_dataframe().reset_index() 
                var_aux = [x+'_inf_'+str(izquierda+1)+'.'+str(inferior+1) for x in variables]
                df_resultados = meto_en_df(df_resultados,row,coord_aux,df,contador * 3,var_aux)

#         if contador == 5:
#             break
    return df_resultados

In [13]:
df_resultados = crea_estr()
df_resultados.head()

HBox(children=(FloatProgress(value=0.0, max=1569.0), HTML(value='')))

,Avistamientos,Latitud,Longitud,Fecha,Coord,Profundidad,mlotst,zos,bottomT,thetao,...,vo_inf_2.1,Coord_inf_2.2,Profundidad_inf_2.2,mlotst_inf_2.2,zos_inf_2.2,bottomT_inf_2.2,thetao_inf_2.2,so_inf_2.2,uo_inf_2.2,vo_inf_2.2
0,1,-25.4167,-70.5,2014-05-01 00:00:00,"[-25.41666666666666, -70.58333333333333]",0.494025,10.5289,0.166326,12.3865,15.3455,...,-0.126347,"[-25.66666666666666, -70.83333333333333]",0.494025,12.5126,0.148015,6.04056,16.4867,34.788,0.00305185,-0.241096
1,1,-25.4167,-70.5,2014-05-01 00:00:00,"[-25.41666666666666, -70.58333333333333]",5.07822,10.5289,0.166326,12.3865,15.2906,...,-0.152593,"[-25.66666666666666, -70.83333333333333]",5.07822,12.5126,0.148015,6.04056,16.4713,34.788,-0.00122074,-0.266732
2,1,-25.4167,-70.5,2014-05-01 00:00:00,"[-25.41666666666666, -70.58333333333333]",9.573,10.5289,0.166326,12.3865,15.1727,...,-0.163579,"[-25.66666666666666, -70.83333333333333]",9.573,12.5126,0.148015,6.04056,16.4479,34.788,-0.0128178,-0.276498
3,1,-18.5,-70.3333,2014-05-01 00:00:00,"[-18.5, -70.33333333333333]",0.494025,10.5289,0.21485,15.2723,17.7106,...,-0.00122074,"[-18.75, -70.58333333333333]",0.494025,12.2074,0.221564,4.39329,20.8638,35.1695,-0.0286874,-0.0286874
4,1,-18.5,-70.3333,2014-05-01 00:00:00,"[-18.5, -70.33333333333333]",5.07822,10.5289,0.21485,15.2723,17.3605,...,-0.028077,"[-18.75, -70.58333333333333]",5.07822,12.2074,0.221564,4.39329,20.8191,35.168,-0.0244148,-0.0537126

In [14]:
df_resultados = df_resultados.reset_index().set_index(['Latitud','Longitud','Fecha','Avistamientos','Profundidad'])
df_resultados.to_excel('3EstructuraFinal.xlsx')
df_resultados.head()

                                                            index  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-25.416667 -70.500000 2014-05-01 1             0.494025         0
                                               5.078224         1
                                               9.572997         2
-18.500000 -70.333333 2014-05-01 1             0.494025         3
                                               5.078224         4

                                                                                               Coord  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-25.416667 -70.500000 2014-05-01 1             0.494025     [-25.41666666666666, -70.58333333333333]
                                               5.078224     [-25.41666666666666, -70.58333333333333]
                                               9.572997     [-25.41666666666666, -70.58333333333333]
-18.500000 -70.333333 2014-05-01 1             0.494025                  [-18.5, -70.33333333333333]
                                               5.078224                  [-18.5, -70.33333333333333]

                                                             mlotst       zos  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-25.416667 -70.500000 2014-05-01 1             0.494025     10.5289  0.166326
                                               5.078224     10.5289  0.166326
                                               9.572997     10.5289  0.166326
-18.500000 -70.333333 2014-05-01 1             0.494025     10.5289   0.21485
                                               5.078224     10.5289   0.21485

                                                            bottomT   thetao  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-25.416667 -70.500000 2014-05-01 1             0.494025     12.3865  15.3455
                                               5.078224     12.3865  15.2906
                                               9.572997     12.3865  15.1727
-18.500000 -70.333333 2014-05-01 1             0.494025     15.2723  17.7106
                                               5.078224     15.2723  17.3605

                                                                 so  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-25.416667 -70.500000 2014-05-01 1             0.494025     34.7255
                                               5.078224     34.7255
                                               9.572997     34.7209
-18.500000 -70.333333 2014-05-01 1             0.494025     34.8735
                                               5.078224     34.8949

                                                                   uo  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-25.416667 -70.500000 2014-05-01 1             0.494025     -0.104373
                                               5.078224     -0.111087
                                               9.572997     -0.112308
-18.500000 -70.333333 2014-05-01 1             0.494025    -0.0579852
                                               5.078224    -0.0518815

                                                                    vo  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-25.416667 -70.500000 2014-05-01 1             0.494025      0.0286874
                                               5.078224    -0.00183111
                                               9.572997      -0.028077
-18.500000 -70.333333 2014-05-01 1             0.494025       0.126957
                                               5.078224      0.0787378

                                                                                         Coord_izq_1  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-25.416667 -70.500000 2014-05-01 1             0.494025     [-25.41666666666666, -70.66666666666666]
                                               5.078224     [-25.41666666666666, -70.66666666666666]
                                               9.572997     [-25.41666666666666, -70.66666666666666]
-18.500000 -70.333333 2014-05-01 1             0.494025                  [-18.5, -70.41666666666666]
                                               5.078224                  [-18.5, -70.41666666666666]

                                                            ...  vo_inf_2.1  \
Latitud    Longitud   Fecha      Avistamientos Profundidad  ...
-25.416667 -70.500000 2014-05-01 1             0.494025     ...   -0.126347
                                               5.078224     ...   -0.152593
                                               9.572997     ...   -0.163579
-18.500000 -70.333333 2014-05-01 1             0.494025     ... -0.00122074
                                               5.078224     ...   -0.028077

                                                                                       Coord_inf_2.2  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-25.416667 -70.500000 2014-05-01 1             0.494025     [-25.66666666666666, -70.83333333333333]
                                               5.078224     [-25.66666666666666, -70.83333333333333]
                                               9.572997     [-25.66666666666666, -70.83333333333333]
-18.500000 -70.333333 2014-05-01 1             0.494025                 [-18.75, -70.58333333333333]
                                               5.078224                 [-18.75, -70.58333333333333]

                                                           Profundidad_inf_2.2  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-25.416667 -70.500000 2014-05-01 1             0.494025               0.494025
                                               5.078224                5.07822
                                               9.572997                  9.573
-18.500000 -70.333333 2014-05-01 1             0.494025               0.494025
                                               5.078224                5.07822

                                                           mlotst_inf_2.2  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-25.416667 -70.500000 2014-05-01 1             0.494025           12.5126
                                               5.078224           12.5126
                                               9.572997           12.5126
-18.500000 -70.333333 2014-05-01 1             0.494025           12.2074
                                               5.078224           12.2074

                                                           zos_inf_2.2  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-25.416667 -70.500000 2014-05-01 1             0.494025       0.148015
                                               5.078224       0.148015
                                               9.572997       0.148015
-18.500000 -70.333333 2014-05-01 1             0.494025       0.221564
                                               5.078224       0.221564

                                                           bottomT_inf_2.2  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-25.416667 -70.500000 2014-05-01 1             0.494025            6.04056
                                               5.078224            6.04056
                                               9.572997            6.04056
-18.500000 -70.333333 2014-05-01 1             0.494025            4.39329
                                               5.078224            4.39329

                                                           thetao_inf_2.2  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-25.416667 -70.500000 2014-05-01 1             0.494025           16.4867
                                               5.078224           16.4713
                                               9.572997           16.4479
-18.500000 -70.333333 2014-05-01 1             0.494025           20.8638
                                               5.078224           20.8191

                                                           so_inf_2.2  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-25.416667 -70.500000 2014-05-01 1             0.494025        34.788
                                               5.078224        34.788
                                               9.572997        34.788
-18.500000 -70.333333 2014-05-01 1             0.494025       35.1695
                                               5.078224        35.168

                                                            uo_inf_2.2  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-25.416667 -70.500000 2014-05-01 1             0.494025     0.00305185
                                               5.078224    -0.00122074
                                               9.572997     -0.0128178
-18.500000 -70.333333 2014-05-01 1             0.494025     -0.0286874
                                               5.078224     -0.0244148

                                                           vo_inf_2.2
Latitud    Longitud   Fecha      Avistamientos Profundidad
-25.416667 -70.500000 2014-05-01 1             0.494025     -0.241096
                                               5.078224     -0.266732
                                               9.572997     -0.276498
-18.500000 -70.333333 2014-05-01 1             0.494025    -0.0286874
                                               5.078224    -0.0537126

[5 rows x 99 columns]

## Estructura sin rellenar huecos sin datos

In [15]:
def crea_estr():
    df_resultados = crea_DF() # creo df con columnas necesarias
    #print(df_resultados)
    total_lineas = df_playas.shape[0]
    pbar = tqdm(total = total_lineas)
    for contador,[index, row] in enumerate(df_playas.iterrows()): # por cada playa
#         print(contador,end='\r')
        pbar.update(1)
        ds = busca_archivo(row['Fecha']) # busco el archivo de la fecha 
        coordenadas = [row['Latitud'],row['Longitud']]

        df = dame_datos(row['Latitud'],row['Longitud'],ds).to_dataframe().reset_index() # dataframe con los datso oceanicos de esas coordenadas y en esa fecha
        df_resultados = meto_en_df(df_resultados,row,[row['Latitud'],row['Longitud']],df,contador * 3,variables)
        
        # datos de las celdas extras
        for izquierda in range(cuadrantes['izquierda']): # por cada cuadrante a la izquierda, añado datos
            coordenadas = dameCoordIzq(coordenadas[0],coordenadas[1],izquierda+1)
            df = dame_datos(coordenadas[0],coordenadas[1],ds).to_dataframe().reset_index() 
            var_aux = [x+'_izq_'+str(izquierda+1) for x in variables]
            df_resultados = meto_en_df(df_resultados,row,coordenadas,df,contador * 3,var_aux)
            coord_aux = coordenadas
            for superior in range (cuadrantes['arriba']): # por cada cuadrante a la superior, añado datos
                coord_aux = dameCoordSuperior(coord_aux[0],coord_aux[1],superior+1)
                df = dame_datos(coord_aux[0],coord_aux[1],ds).to_dataframe().reset_index() 
                var_aux = [x+'_sup_'+str(izquierda+1)+'.'+str(superior+1) for x in variables]
                df_resultados = meto_en_df(df_resultados,row,coord_aux,df,contador * 3,var_aux)
            coord_aux = coordenadas
            for inferior in range (cuadrantes['abajo']): # por cada cuadrante a la inferior, añado datos  
                coord_aux = dameCoordInferior(coord_aux[0],coord_aux[1],inferior+1)
                df = dame_datos(coord_aux[0],coord_aux[1],ds).to_dataframe().reset_index() 
                var_aux = [x+'_inf_'+str(izquierda+1)+'.'+str(inferior+1) for x in variables]
                df_resultados = meto_en_df(df_resultados,row,coord_aux,df,contador * 3,var_aux)
        
    return df_resultados

In [16]:
df_resultados_con_vacios = crea_estr()

HBox(children=(FloatProgress(value=0.0, max=1569.0), HTML(value='')))

In [17]:
df_resultados_con_vacios.head()

,Avistamientos,Latitud,Longitud,Fecha,Coord,Profundidad,mlotst,zos,bottomT,thetao,...,vo_inf_2.1,Coord_inf_2.2,Profundidad_inf_2.2,mlotst_inf_2.2,zos_inf_2.2,bottomT_inf_2.2,thetao_inf_2.2,so_inf_2.2,uo_inf_2.2,vo_inf_2.2
0,1,-25.4167,-70.5,2014-05-01 00:00:00,"[-25.41666666666666, -70.5]",0.494025,NaN,NaN,NaN,NaN,...,-0.258187,"[-25.66666666666666, -70.75]",0.494025,10.6815,0.183416,12.2949,15.2972,34.7179,-0.198981,-0.157476
1,1,-25.4167,-70.5,2014-05-01 00:00:00,"[-25.41666666666666, -70.5]",5.07822,NaN,NaN,NaN,NaN,...,-0.284433,"[-25.66666666666666, -70.75]",5.07822,10.6815,0.183416,12.2949,15.2393,34.7179,-0.201422,-0.188604
2,1,-25.4167,-70.5,2014-05-01 00:00:00,"[-25.41666666666666, -70.5]",9.573,NaN,NaN,NaN,NaN,...,-0.294809,"[-25.66666666666666, -70.75]",9.573,10.6815,0.183416,12.2949,15.0994,34.7133,-0.177007,-0.216681
3,1,-18.5,-70.3333,2014-05-01 00:00:00,"[-18.5, -70.33333333333333]",0.494025,10.5289,0.219428,15.3323,17.6198,...,-0.0744652,"[-18.75, -70.58333333333333]",0.494025,11.7496,0.215766,4.42772,19.8479,35.0551,-0.0189215,-0.135502
4,1,-18.5,-70.3333,2014-05-01 00:00:00,"[-18.5, -70.33333333333333]",5.07822,10.5289,0.219428,15.3323,17.2711,...,-0.103153,"[-18.75, -70.58333333333333]",5.07822,11.7496,0.215766,4.42772,19.8025,35.0551,-0.0134281,-0.163579

In [18]:
df_resultados_con_vacios.to_excel('3EstructuraCoordEnTierra.xlsx')

# Rellenar datos de celdas vacios
Con datos de la coordenada más cercana por la izquierda

In [19]:
def comprueba_datos_thetao(latitud,longitud,ds):
    valor = dame_datos(latitud,longitud,ds)
    while math.isnan(valor.thetao[0][2]):
        longitud = float(longitud) - salto
        valor = dame_datos(latitud,longitud,ds)
    return latitud,longitud # devuelvo las coordenadas con datos

In [20]:
# datos_excel = pd.read_excel('EstructuraFinal.xlsx').reset_index() # leo estructura de datos que contiene huecos sin informacion
# datos = datos_excel.drop(['Unnamed: 0'],axis=1).sort_values(by=['Latitud','Longitud','Profundidad','Fecha']) 
datos_excel = df_resultados.copy().reset_index()
datos = datos_excel.sort_values(by=['Latitud','Longitud','Fecha'])

In [21]:
datos

,Latitud,Longitud,Fecha,Avistamientos,Profundidad,index,Coord,mlotst,zos,bottomT,...,vo_inf_2.1,Coord_inf_2.2,Profundidad_inf_2.2,mlotst_inf_2.2,zos_inf_2.2,bottomT_inf_2.2,thetao_inf_2.2,so_inf_2.2,uo_inf_2.2,vo_inf_2.2
381,-42.666667,-74.083333,2015-05-27,1,0.494025,381,"[-42.66666666666666, -74.16666666666666]",49.5926,0.0946074,12.8193,...,0.0561541,"[-42.91666666666666, -74.41666666666666]",0.494025,51.5763,0.0970489,10.4565,12.9395,33.4208,0.0347911,0.0439467
382,-42.666667,-74.083333,2015-05-27,1,5.078224,382,"[-42.66666666666666, -74.16666666666666]",49.5926,0.0946074,12.8193,...,0.0482192,"[-42.91666666666666, -74.41666666666666]",5.07822,51.5763,0.0970489,10.4565,12.9395,33.4208,0.0140385,0.0366222
383,-42.666667,-74.083333,2015-05-27,1,9.572997,383,"[-42.66666666666666, -74.16666666666666]",49.5926,0.0946074,12.8193,...,0.0433363,"[-42.91666666666666, -74.41666666666666]",9.573,51.5763,0.0970489,10.4565,12.9387,33.4208,0.0061037,0.0323496
21,-41.833333,-73.833333,2014-06-04,1,0.494025,21,"[-41.83333333333333, -73.83333333333333]",9.61333,0.0781274,11.4731,...,-0.166631,"[-42.08333333333333, -74.08333333333333]",0.494025,11.2918,0.0985748,11.2607,10.9413,33.198,-0.112918,-0.04944
22,-41.833333,-73.833333,2014-06-04,1,5.078224,22,"[-41.83333333333333, -73.83333333333333]",9.61333,0.0781274,11.4731,...,-0.166021,"[-42.08333333333333, -74.08333333333333]",5.07822,11.2918,0.0985748,11.2607,11.197,33.3827,-0.108646,-0.0616474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,-18.500000,-70.333333,2014-08-17,1,5.078224,226,"[-18.5, -70.33333333333333]",10.5289,0.0256355,14.1831,...,0.00183111,"[-18.75, -70.58333333333333]",5.07822,12.6652,0.0238044,3.85861,16.0304,34.8537,0.0170904,-0.0195318
227,-18.500000,-70.333333,2014-08-17,1,9.572997,227,"[-18.5, -70.33333333333333]",10.5289,0.0256355,14.1831,...,-0.00976592,"[-18.75, -70.58333333333333]",9.573,12.6652,0.0238044,3.85861,15.9996,34.8537,0.0207526,-0.0305185
588,-18.416667,-70.333333,2015-08-18,1,0.494025,588,"[-18.41666666666666, -70.33333333333333]",14.9541,0.069277,15.7374,...,0.123905,"[-18.66666666666666, -70.58333333333333]",0.494025,30.6711,0.0863674,3.77438,17.1803,35.0826,0.0061037,0.0701926
589,-18.416667,-70.333333,2015-08-18,1,5.078224,589,"[-18.41666666666666, -70.33333333333333]",14.9541,0.069277,15.7374,...,0.101932,"[-18.66666666666666, -70.58333333333333]",5.07822,30.6711,0.0863674,3.77438,17.1788,35.0826,0.011597,0.0488296
590,-18.416667,-70.333333,2015-08-18,1,9.572997,590,"[-18.41666666666666, -70.33333333333333]",14.9541,0.069277,15.7374,...,0.0927763,"[-18.66666666666666, -70.58333333333333]",9.573,30.6711,0.0863674,3.77438,17.1737,35.0826,0.0140385,0.0408948

In [22]:
def rellenar_huecos(df):
    filas_nan = df[df.isna().any(axis=1)] # filas con valores vacios
    datos_copia = df.copy()
    total_lineas = filas_nan.shape[0]
    pbar = tqdm(total = total_lineas)
    for indice, fila in filas_nan.iterrows():
#         print(indice,fila)
        pbar.update(1)
        elem = fila.isna() # columnas con valores nan
        for index, value in elem.items():
            if value:
                nombre_original= index
                nombre = 'Coord'
                try:
                    nombre_original = index[:index.index('_')] # nombre de la columna en el DataSet
                    nombre = nombre + index[index.index('_'):] # nombre de la columna de coordenadas de ese punto
                except:
                    pass
                coordenadas = fila[nombre]
                archivo = busca_archivo(fila['Fecha'])
                coordenadas = comprueba_datos_thetao(coordenadas[0],coordenadas[1],archivo)
                datos_fila = dame_datos(coordenadas[0],coordenadas[1],archivo)
                valor =datos_fila.sel({'depth':fila['Profundidad']}).to_dataframe().reset_index()[nombre_original].values[0]
                datos_copia.loc[indice,index] = valor
    return datos_copia

In [23]:
datos_sin_huecos = rellenar_huecos(datos)

HBox(children=(FloatProgress(value=0.0, max=1128.0), HTML(value='')))

In [24]:
filas_nan_2 = datos_sin_huecos[datos_sin_huecos.isna().any(axis=1)] # compruebo que se hayan rellenado todos los vacios
filas_nan_2.head()

Empty DataFrame
Columns: [Latitud, Longitud, Fecha, Avistamientos, Profundidad, index, Coord, mlotst, zos, bottomT, thetao, so, uo, vo, Coord_izq_1, Profundidad_izq_1, mlotst_izq_1, zos_izq_1, bottomT_izq_1, thetao_izq_1, so_izq_1, uo_izq_1, vo_izq_1, Coord_sup_1.1, Profundidad_sup_1.1, mlotst_sup_1.1, zos_sup_1.1, bottomT_sup_1.1, thetao_sup_1.1, so_sup_1.1, uo_sup_1.1, vo_sup_1.1, Coord_sup_1.2, Profundidad_sup_1.2, mlotst_sup_1.2, zos_sup_1.2, bottomT_sup_1.2, thetao_sup_1.2, so_sup_1.2, uo_sup_1.2, vo_sup_1.2, Coord_inf_1.1, Profundidad_inf_1.1, mlotst_inf_1.1, zos_inf_1.1, bottomT_inf_1.1, thetao_inf_1.1, so_inf_1.1, uo_inf_1.1, vo_inf_1.1, Coord_inf_1.2, Profundidad_inf_1.2, mlotst_inf_1.2, zos_inf_1.2, bottomT_inf_1.2, thetao_inf_1.2, so_inf_1.2, uo_inf_1.2, vo_inf_1.2, Coord_izq_2, Profundidad_izq_2, mlotst_izq_2, zos_izq_2, bottomT_izq_2, thetao_izq_2, so_izq_2, uo_izq_2, vo_izq_2, Coord_sup_2.1, Profundidad_sup_2.1, mlotst_sup_2.1, zos_sup_2.1, bottomT_sup_2.1, thetao_sup_2.1, so_sup_2.1, uo_sup_2.1, vo_sup_2.1, Coord_sup_2.2, Profundidad_sup_2.2, mlotst_sup_2.2, zos_sup_2.2, bottomT_sup_2.2, thetao_sup_2.2, so_sup_2.2, uo_sup_2.2, vo_sup_2.2, Coord_inf_2.1, Profundidad_inf_2.1, mlotst_inf_2.1, zos_inf_2.1, bottomT_inf_2.1, thetao_inf_2.1, so_inf_2.1, uo_inf_2.1, vo_inf_2.1, Coord_inf_2.2, Profundidad_inf_2.2, mlotst_inf_2.2, zos_inf_2.2, bottomT_inf_2.2, ...]
Index: []

[0 rows x 104 columns]

In [25]:
datos_sin_huecos = datos_sin_huecos.reset_index().set_index(['Latitud','Longitud','Fecha','Avistamientos','Profundidad'])
datos_sin_huecos.to_excel('4EstructuraFinalSinMissings.xlsx')

In [26]:
datos_sin_huecos

                                                            level_0  index  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-42.666667 -74.083333 2015-05-27 1             0.494025         381    381
                                               5.078224         382    382
                                               9.572997         383    383
-41.833333 -73.833333 2014-06-04 1             0.494025          21     21
                                               5.078224          22     22
...                                                             ...    ...
-18.500000 -70.333333 2014-08-17 1             5.078224         226    226
                                               9.572997         227    227
-18.416667 -70.333333 2015-08-18 1             0.494025         588    588
                                               5.078224         589    589
                                               9.572997         590    590

                                                                                               Coord  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-42.666667 -74.083333 2015-05-27 1             0.494025     [-42.66666666666666, -74.16666666666666]
                                               5.078224     [-42.66666666666666, -74.16666666666666]
                                               9.572997     [-42.66666666666666, -74.16666666666666]
-41.833333 -73.833333 2014-06-04 1             0.494025     [-41.83333333333333, -73.83333333333333]
                                               5.078224     [-41.83333333333333, -73.83333333333333]
...                                                                                              ...
-18.500000 -70.333333 2014-08-17 1             5.078224                  [-18.5, -70.33333333333333]
                                               9.572997                  [-18.5, -70.33333333333333]
-18.416667 -70.333333 2015-08-18 1             0.494025     [-18.41666666666666, -70.33333333333333]
                                               5.078224     [-18.41666666666666, -70.33333333333333]
                                               9.572997     [-18.41666666666666, -70.33333333333333]

                                                             mlotst  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-42.666667 -74.083333 2015-05-27 1             0.494025     49.5926
                                               5.078224     49.5926
                                               9.572997     49.5926
-41.833333 -73.833333 2014-06-04 1             0.494025     9.61333
                                               5.078224     9.61333
...                                                             ...
-18.500000 -70.333333 2014-08-17 1             5.078224     10.5289
                                               9.572997     10.5289
-18.416667 -70.333333 2015-08-18 1             0.494025     14.9541
                                               5.078224     14.9541
                                               9.572997     14.9541

                                                                  zos  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-42.666667 -74.083333 2015-05-27 1             0.494025     0.0946074
                                               5.078224     0.0946074
                                               9.572997     0.0946074
-41.833333 -73.833333 2014-06-04 1             0.494025     0.0781274
                                               5.078224     0.0781274
...                                                               ...
-18.500000 -70.333333 2014-08-17 1             5.078224     0.0256355
                                               9.572997     0.0256355
-18.416667 -70.333333 2015-08-18 1             0.494025      0.069277
                                               5.078224      0.069277
                                               9.572997      0.069277

                                                            bottomT   thetao  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-42.666667 -74.083333 2015-05-27 1             0.494025     12.8193  12.8186
                                               5.078224     12.8193  12.8171
                                               9.572997     12.8193  12.8157
-41.833333 -73.833333 2014-06-04 1             0.494025     11.4731  11.3251
                                               5.078224     11.4731  11.4438
...                                                             ...      ...
-18.500000 -70.333333 2014-08-17 1             5.078224     14.1831  15.1456
                                               9.572997     14.1831  14.8555
-18.416667 -70.333333 2015-08-18 1             0.494025     15.7374  15.7447
                                               5.078224     15.7374  15.7315
                                               9.572997     15.7374  15.7169

                                                                 so  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-42.666667 -74.083333 2015-05-27 1             0.494025     33.3384
                                               5.078224     33.3384
                                               9.572997     33.3384
-41.833333 -73.833333 2014-06-04 1             0.494025     33.4071
                                               5.078224     33.5276
...                                                             ...
-18.500000 -70.333333 2014-08-17 1             5.078224     34.7652
                                               9.572997     34.7652
-18.416667 -70.333333 2015-08-18 1             0.494025     34.8766
                                               5.078224     34.8766
                                               9.572997      34.875

                                                                    uo  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-42.666667 -74.083333 2015-05-27 1             0.494025      0.0360118
                                               5.078224      0.0152593
                                               9.572997     0.00793481
-41.833333 -73.833333 2014-06-04 1             0.494025       0.380261
                                               5.078224       0.356456
...                                                                ...
-18.500000 -70.333333 2014-08-17 1             5.078224     -0.0140385
                                               9.572997    -0.00793481
-18.416667 -70.333333 2015-08-18 1             0.494025      -0.108036
                                               5.078224      -0.102542
                                               9.572997     -0.0805689

                                                                   vo  ...  \
Latitud    Longitud   Fecha      Avistamientos Profundidad             ...
-42.666667 -74.083333 2015-05-27 1             0.494025     0.0390637  ...
                                               5.078224     0.0317392  ...
                                               9.572997     0.0286874  ...
-41.833333 -73.833333 2014-06-04 1             0.494025     0.0976592  ...
                                               5.078224     0.0744652  ...
...                                                               ...  ...
-18.500000 -70.333333 2014-08-17 1             5.078224     0.0531022  ...
                                               9.572997     0.0250252  ...
-18.416667 -70.333333 2015-08-18 1             0.494025      0.160527  ...
                                               5.078224      0.140385  ...
                                               9.572997      0.150151  ...

                                                            vo_inf_2.1  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-42.666667 -74.083333 2015-05-27 1             0.494025      0.0561541
                                               5.078224      0.0482192
                                               9.572997      0.0433363
-41.833333 -73.833333 2014-06-04 1             0.494025      -0.166631
                                               5.078224      -0.166021
...                                                                ...
-18.500000 -70.333333 2014-08-17 1             5.078224     0.00183111
                                               9.572997    -0.00976592
-18.416667 -70.333333 2015-08-18 1             0.494025       0.123905
                                               5.078224       0.101932
                                               9.572997      0.0927763

                                                                                       Coord_inf_2.2  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-42.666667 -74.083333 2015-05-27 1             0.494025     [-42.91666666666666, -74.41666666666666]
                                               5.078224     [-42.91666666666666, -74.41666666666666]
                                               9.572997     [-42.91666666666666, -74.41666666666666]
-41.833333 -73.833333 2014-06-04 1             0.494025     [-42.08333333333333, -74.08333333333333]
                                               5.078224     [-42.08333333333333, -74.08333333333333]
...                                                                                              ...
-18.500000 -70.333333 2014-08-17 1             5.078224                 [-18.75, -70.58333333333333]
                                               9.572997                 [-18.75, -70.58333333333333]
-18.416667 -70.333333 2015-08-18 1             0.494025     [-18.66666666666666, -70.58333333333333]
                                               5.078224     [-18.66666666666666, -70.58333333333333]
                                               9.572997     [-18.66666666666666, -70.58333333333333]

                                                           Profundidad_inf_2.2  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-42.666667 -74.083333 2015-05-27 1             0.494025               0.494025
                                               5.078224                5.07822
                                               9.572997                  9.573
-41.833333 -73.833333 2014-06-04 1             0.494025               0.494025
                                               5.078224                5.07822
...                                                                        ...
-18.500000 -70.333333 2014-08-17 1             5.078224                5.07822
                                               9.572997                  9.573
-18.416667 -70.333333 2015-08-18 1             0.494025               0.494025
                                               5.078224                5.07822
                                               9.572997                  9.573

                                                           mlotst_inf_2.2  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-42.666667 -74.083333 2015-05-27 1             0.494025           51.5763
                                               5.078224           51.5763
                                               9.572997           51.5763
-41.833333 -73.833333 2014-06-04 1             0.494025           11.2918
                                               5.078224           11.2918
...                                                                   ...
-18.500000 -70.333333 2014-08-17 1             5.078224           12.6652
                                               9.572997           12.6652
-18.416667 -70.333333 2015-08-18 1             0.494025           30.6711
                                               5.078224           30.6711
                                               9.572997           30.6711

                                                           zos_inf_2.2  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-42.666667 -74.083333 2015-05-27 1             0.494025      0.0970489
                                               5.078224      0.0970489
                                               9.572997      0.0970489
-41.833333 -73.833333 2014-06-04 1             0.494025      0.0985748
                                               5.078224      0.0985748
...                                                                ...
-18.500000 -70.333333 2014-08-17 1             5.078224      0.0238044
                                               9.572997      0.0238044
-18.416667 -70.333333 2015-08-18 1             0.494025      0.0863674
                                               5.078224      0.0863674
                                               9.572997      0.0863674

                                                           bottomT_inf_2.2  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-42.666667 -74.083333 2015-05-27 1             0.494025            10.4565
                                               5.078224            10.4565
                                               9.572997            10.4565
-41.833333 -73.833333 2014-06-04 1             0.494025            11.2607
                                               5.078224            11.2607
...                                                                    ...
-18.500000 -70.333333 2014-08-17 1             5.078224            3.85861
                                               9.572997            3.85861
-18.416667 -70.333333 2015-08-18 1             0.494025            3.77438
                                               5.078224            3.77438
                                               9.572997            3.77438

                                                           thetao_inf_2.2  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-42.666667 -74.083333 2015-05-27 1             0.494025           12.9395
                                               5.078224           12.9395
                                               9.572997           12.9387
-41.833333 -73.833333 2014-06-04 1             0.494025           10.9413
                                               5.078224            11.197
...                                                                   ...
-18.500000 -70.333333 2014-08-17 1             5.078224           16.0304
                                               9.572997           15.9996
-18.416667 -70.333333 2015-08-18 1             0.494025           17.1803
                                               5.078224           17.1788
                                               9.572997           17.1737

                                                           so_inf_2.2  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-42.666667 -74.083333 2015-05-27 1             0.494025       33.4208
                                               5.078224       33.4208
                                               9.572997       33.4208
-41.833333 -73.833333 2014-06-04 1             0.494025        33.198
                                               5.078224       33.3827
...                                                               ...
-18.500000 -70.333333 2014-08-17 1             5.078224       34.8537
                                               9.572997       34.8537
-18.416667 -70.333333 2015-08-18 1             0.494025       35.0826
                                               5.078224       35.0826
                                               9.572997       35.0826

                                                           uo_inf_2.2  \
Latitud    Longitud   Fecha      Avistamientos Profundidad
-42.666667 -74.083333 2015-05-27 1             0.494025     0.0347911
                                               5.078224     0.0140385
                                               9.572997     0.0061037
-41.833333 -73.833333 2014-06-04 1             0.494025     -0.112918
                                               5.078224     -0.108646
...                                                               ...
-18.500000 -70.333333 2014-08-17 1             5.078224     0.0170904
                                               9.572997     0.0207526
-18.416667 -70.333333 2015-08-18 1             0.494025     0.0061037
                                               5.078224      0.011597
                                               9.572997     0.0140385

                                                           vo_inf_2.2
Latitud    Longitud   Fecha      Avistamientos Profundidad
-42.666667 -74.083333 2015-05-27 1             0.494025     0.0439467
                                               5.078224     0.0366222
                                               9.572997     0.0323496
-41.833333 -73.833333 2014-06-04 1             0.494025      -0.04944
                                               5.078224    -0.0616474
...                                                               ...
-18.500000 -70.333333 2014-08-17 1             5.078224    -0.0195318
                                               9.572997    -0.0305185
-18.416667 -70.333333 2015-08-18 1             0.494025     0.0701926
                                               5.078224     0.0488296
                                               9.572997     0.0408948

[1569 rows x 100 columns]