# Imports

In [75]:
import os
import xarray as xr 
import pandas as pd
from math import floor
import math
from datetime import datetime
import time

def floorQuarter(x):
    return (floor(x * 4) / 4.0)

In [9]:
xr.set_options(display_style="html")
# lectura de archivo .nc
data = xr.open_dataset('../descargas/mercatorglorys12v1_gl12_mean_20150527_R20150603__filtrados.nc')
# xarray a dataFrame
dfC= data.to_dataframe()
# elimino los indices para modificar las fechas
dfC = dfC.reset_index()
# elimino la hora de la fechas
dfC['time'] = dfC['time'].dt.strftime('%Y-%m-%d')
# se redondea las coordnadas a un cuarto de grado para tener la misma precision que el dataframe de los avistamientos
dfC["latitude_red"] = dfC.latitude.map(floorQuarter)
dfC["longitude_red"] = dfC.longitude.map(floorQuarter)
# vuelvo a generar los indices
#dfC = dfC.set_index(["depth","latitude","longitude"])
dfC = dfC.set_index(["longitude","latitude"])
dfC

,,depth,time,mlotst,zos,bottomT,thetao,so,uo,vo,latitude_red,longitude_red
longitude,latitude,,,,,,,,,,,
-120.000000,-60.0,0.494025,2015-05-27,119.785156,-1.171300,0.123875,1.661276,33.851131,0.220344,0.083010,-60.0,-120.00
-119.916664,-60.0,0.494025,2015-05-27,119.785156,-1.177709,0.107761,1.653217,33.851131,0.213630,0.050661,-60.0,-120.00
-119.833336,-60.0,0.494025,2015-05-27,119.785156,-1.182287,0.111423,1.648090,33.851131,0.206305,0.018311,-60.0,-120.00
-119.750000,-60.0,0.494025,2015-05-27,119.785156,-1.185034,0.112156,1.633442,33.849606,0.198981,-0.013428,-60.0,-119.75
-119.666664,-60.0,0.494025,2015-05-27,119.785156,-1.185339,0.109959,1.630512,33.849606,0.192267,-0.045778,-60.0,-119.75
...,...,...,...,...,...,...,...,...,...,...,...,...
-60.333332,-10.0,9.572997,2015-05-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10.0,-60.50
-60.250000,-10.0,9.572997,2015-05-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10.0,-60.25
-60.166668,-10.0,9.572997,2015-05-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10.0,-60.25
-60.083332,-10.0,9.572997,2015-05-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10.0,-60.25
-60.000000,-10.0,9.572997,2015-05-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10.0,-60.00

In [29]:
#data.sel({'longitude':[-45.16558675]})
data

<xarray.Dataset>
Dimensions:    (depth: 3, latitude: 601, longitude: 721, time: 1)
Coordinates:
  * longitude  (longitude) float32 -120.0 -119.916664 ... -60.083332 -60.0
  * latitude   (latitude) float32 -60.0 -59.916668 ... -10.083333 -10.0
  * depth      (depth) float32 0.494025 5.078224 9.572997
  * time       (time) datetime64[ns] 2015-05-27T12:00:00
Data variables:
    mlotst     (time, latitude, longitude) float32 119.78516 119.78516 ... nan
    zos        (time, latitude, longitude) float32 -1.1713004 -1.1777092 ... nan
    bottomT    (time, latitude, longitude) float32 0.123874664 ... nan
    thetao     (time, depth, latitude, longitude) float32 1.6612759 ... nan
    so         (time, depth, latitude, longitude) float32 33.85113 ... nan
    uo         (time, depth, latitude, longitude) float32 0.22034363 ... nan
    vo         (time, depth, latitude, longitude) float32 0.083010346 ... nan
Attributes:
    title:              daily mean fields from Global Ocean Physics Analysis ...
    easting:            longitude
    northing:           latitude
    history:            2017/10/11 08:29:27 MERCATOR OCEAN Netcdf creation
    source:             MERCATOR GLORYS12V1
    institution:        MERCATOR OCEAN
    references:         http://www.mercator-ocean.fr
    comment:            CMEMS product
    Conventions:        CF-1.4
    domain_name:        GL12
    field_type:         mean
    field_date:         2015-05-27 00:00:00
    field_julian_date:  23887.0
    julian_day_unit:    days since 1950-01-01 00:00:00
    forecast_range:     0-day_forecast
    forecast_type:      hindcast
    bulletin_date:      2015-06-03 00:00:00
    bulletin_type:      operational
    longitude_min:      -180.0
    longitude_max:      179.91667
    latitude_min:       -80.0
    latitude_max:       90.0
    z_min:              0.494025
    z_max:              5727.917

In [50]:
datos1 = data.sel({'latitude':[-42.75],'longitude':[-74.25],'time':[datetime.strptime('2015-05-27', '%Y-%m-%d')]},method='nearest')
datos = datos1.to_dataframe()
datos

,,,,mlotst,zos,bottomT,thetao,so,uo,vo
depth,latitude,longitude,time,,,,,,,
0.494025,-42.75,-74.25,2015-05-27 12:00:00,52.339249,0.103763,12.725577,12.726310,33.355206,0.036012,-0.106815
5.078224,-42.75,-74.25,2015-05-27 12:00:00,52.339249,0.103763,12.725577,12.726310,33.355206,0.029298,-0.079958
9.572997,-42.75,-74.25,2015-05-27 12:00:00,52.339249,0.103763,12.725577,12.725577,33.355206,0.023804,-0.067141

In [22]:
dff = dfC.reset_index()
dff = dff[['latitude','longitude']]
dff = dff.loc[::500]
dff.to_excel('./coordenadas.xlsx')

In [35]:
# importo el excel
df = pd.read_excel('./avistamientos.xlsx')
# relleno celdas vacias por su respectivas coordenadas
df = df.fillna(method= 'ffill',axis=0)
# cojo los datos que nos interesan
df = df[['Lat_floor', 'Long_floor',"Fecha",'Media_Playas']]
# renombro columnas
df = df.rename(columns={"Media_Playas": "Avistamientos", "Lat_floor": "latitude", "Long_floor": "longitude", "Fecha":"time"})
# elimino indices
dfA =  df.reset_index()
# transforma date time a str para tener el mismo formato en los dos df
dfA.info()
#dfA['time'] = dfA['time'].dt.strftime('%Y-%m-%d')
#establezco indices
dfA.info()
dfA = dfA[["latitude","longitude","time","Avistamientos"]]
dfA = dfA.set_index(["latitude","longitude","time"])
dfA.info()
dfA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          438 non-null    int64
 1   latitude       438 non-null    float64
 2   longitude      438 non-null    float64
 3   time           438 non-null    datetime64[ns]
 4   Avistamientos  438 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 17.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          438 non-null    int64
 1   latitude       438 non-null    float64
 2   longitude      438 non-null    float64
 3   time           438 non-null    datetime64[ns]
 4   Avistamientos  438 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 17.2 KB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 438 entries, (-42.75, -74.25, Timestamp('2015-05-27 00:00:00')) to (-18.5, -70.5, Timestamp('2015-08-18 00:00:00'))
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Avistamientos  438 non-null    float64
dtypes: float64(1)
memory usage: 7.4 KB

                               Avistamientos
latitude longitude time
-42.75   -74.25    2015-05-27            1.0
-42.00   -74.00    2014-06-04            1.0
         -73.75    2015-05-23            1.0
-41.75   -73.75    2015-06-10           20.0
                   2015-06-11          151.0
...                                      ...
-18.50   -70.50    2014-05-01            1.0
                   2014-05-10           15.0
                   2014-07-18            1.0
                   2014-08-17            1.0
                   2015-08-18            1.0

[438 rows x 1 columns]

In [9]:
# Genera excel con las coordenadas de las playas
dffA = dfA.reset_index()
dffA = dffA[['latitude','longitude']]
dffA.to_excel('./playas.xlsx')

In [6]:
#df = pd.merge(dfC,dfA,on=["latitude","longitude","time"])
df = dfC.join(dfA)
#df.head(20)

In [45]:
df = pd.DataFrame()
df['col1'] = ['hola','adios','hastaluego']
df['col2'] = ['hola','adios','hastaluego']
# df = df.set_index(['col1'])
df[['col1','col2']]
df.loc[1,['col1','col2']] = ['columna1','columan2']
df['col1']

0          hola
1      columna1
2    hastaluego
Name: col1, dtype: object

In [3]:
listado_archivos = os.listdir('../descargas')
Fecha = '20140501'
texto ='_{}_'.format(str(Fecha).split()[0].replace('-',''))
archivo = [x for x in listado_archivos if str(texto) in x]
# cargo el archivo
data = xr.open_dataset('../descargas/{}'.format(archivo[0]))
xr_sel = data.sel({'latitude':-25.5,'longitude':-70.5},method='nearest')
a = xr_sel.to_dataframe()
a

,,longitude,latitude,mlotst,zos,bottomT,thetao,so,uo,vo
depth,time,,,,,,,,,
0.494025,2014-05-01 12:00:00,-70.5,-25.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.078224,2014-05-01 12:00:00,-70.5,-25.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9.572997,2014-05-01 12:00:00,-70.5,-25.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
listado_archivos = os.listdir('../descargas')
Fecha = '20140501'
texto ='_{}_'.format(str(Fecha).split()[0].replace('-',''))
archivo = [x for x in listado_archivos if str(texto) in x]
# cargo el archivo
data = xr.open_dataset('../descargas/{}'.format(archivo[0]))
#xr_sel = data.where(data.mlotst != 'NaN')

a = xr_sel.to_dataframe()
a
#a.loc[0.49402499198913574,-60.0, -120.0, '2014-05-01 12:00:00']

a = a[a.isnull().any(axis=1)]
a[a.notnull().any(axis=1)]

,,longitude,latitude,mlotst,zos,bottomT,thetao,so,uo,vo
depth,time,,,,,,,,,
0.494025,2014-05-01 12:00:00,-70.5,-25.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.078224,2014-05-01 12:00:00,-70.5,-25.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9.572997,2014-05-01 12:00:00,-70.5,-25.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Pruebas redondeo
Redondear coordenadas de playas a el mimsmo patron de cuadrantes de los datos de copernicus

In [41]:
# datos de copernicus 
# abro un archivo cualquiera
data = xr.open_dataset('../descargas/{}'.format('mercatorglorys12v1_gl12_mean_20140101_R20140108__filtrados.nc'))
# salto entre cada cuadrante
data.longitude.step
print(float(data.latitude.step))
paso = float(data.latitude.step)
x = -60 + paso
y = -60 - -59.91666793823242
print(y,x)

0.08333587646484375
-0.08333206176757812 -59.916664123535156

In [55]:
#Datos de las playas 
df_playas = pd.read_excel('./avistamientos.xlsx').reset_index()
df_playas = df_playas.fillna(method= 'ffill',axis=0)
df_playas = df_playas[["Suma","Lat_floor","Long_floor","Fecha"]]
df_playas = df_playas.rename(columns={"Media_Playas": "Avistamientos", "Lat_floor": "Latitud", "Long_floor": "Longitud"})
df_playas = df_playas.sort_values(by=["Fecha"])

In [56]:
# Busco el cuadrante mas cercano en el eje y, osea en latitud
data = xr.open_dataset('../descargas/{}'.format('mercatorglorys12v1_gl12_mean_20140101_R20140108__filtrados.nc'))
xr_sel = data.sel({'latitude':-18.50,'longitude':-70.5})

In [57]:
df_playas
df_playas.dtypes

Suma                 int64
Latitud            float64
Longitud           float64
Fecha       datetime64[ns]
dtype: object

In [59]:
xr_sel.time
xr_sel.sel({'time':'2014-01-01T12:00:00.000000000'})
data.latitude

<xarray.DataArray 'latitude' (latitude: 601)>
array([-60.      , -59.916668, -59.833332, ..., -10.166667, -10.083333,
       -10.      ], dtype=float32)
Coordinates:
  * latitude  (latitude) float32 -60.0 -59.916668 ... -10.083333 -10.0
Attributes:
    valid_min:      -80.0
    valid_max:      90.0
    step:           0.08333588
    units:          degrees_north
    unit_long:      Degrees North
    long_name:      Latitude
    standard_name:  latitude
    axis:           Y

### Se ve que las playas y las coordenadas de los datos de copernicus coinciden en cada cuarto de coordenada (0, 0.25, 0.5 ...)

### Generar estructura 
como las coordenadas coinciden no nos hace falta el metodo nerest que incluye la biblioteca xarray
Si el punto seleccionado de el DataSet no tiene datos, nos desplazaremos al siguiente cuadrante por la izquierda.

In [15]:
import time
from datetime import datetime
timestamp = int(time.mktime(datetime.now().timetuple()))
print(datetime.now(),'--',timestamp)

2020-04-19 19:19:11.499511 -- 1587316751

In [35]:
# TimeStamp to datetime
timestamp = 1545730073
fecha = datetime.fromtimestamp(timestamp)
fecha
timestamp = '2014-05-01 00:00:00'
fecha = int(time.mktime(fecha.timetuple()))
fecha = datetime.fromtimestamp(fecha)
fecha

datetime.datetime(2018, 12, 25, 10, 27, 53)

In [107]:
# DF con playas
df_playas = pd.read_excel('./avistamientos.xlsx').reset_index()
'''
Las celdas que estaban unidas por tener el mismo valor, tienen valores nulos
por lo que las relleno con us valor correspodiente
'''
df_playas = df_playas.fillna(method= 'ffill',axis=0)
# Cojo las columnas uqe me interesan
df_playas = df_playas[["Suma","Lat_floor","Long_floor","Fecha"]]
# Renombro columnas
df_playas = df_playas.rename(columns={"Suma": "Avistamientos", "Lat_floor": "Latitud", "Long_floor": "Longitud"})
# Ordena por fecha
df_playas = df_playas.sort_values(by=["Fecha"])
# print(df_playas)

# Listo todos los ficheros de Copernicus
listado_archivos = os.listdir('../descargas')
# DataFrame de salida
df_final = pd.DataFrame(columns = ["Avistamientos","Latitud","Longitud","Fecha","Profundidad","mlotst",'zos','bottomT','thetao','so','uo','vo'])
# df_final = df_final.set_index(["Avistamientos","Latitud","Longitud","Fecha"])
variables = ['Profundidad','mlotst','zos','bottomT','thetao','so','uo','vo']

for contador,[index, row] in enumerate(df_playas.iterrows()):
    print(contador,index, row)
    # busca el archivo .nc de la fecha requerida
    texto ='_{}_'.format(str(row["Fecha"]).split()[0].replace('-',''))
    archivo = [x for x in listado_archivos if str(texto) in x]
    # cargo el archivo
    data = xr.open_dataset('../descargas/{}'.format(archivo[0]))
    
    nulo = True
    desfase = 0
    while nulo == True:
        nulo = False
        print('++++',row["Longitud"]+desfase)
        xr_sel = data.sel({'latitude':row["Latitud"],'longitude':row["Longitud"]-desfase},method='nearest')
        nulo = math.isnan(xr_sel.mlotst.values[0])
        print('--', xr_sel.mlotst.values[0],nulo,desfase)
        desfase += data.longitude.step
    
    datos = xr_sel.to_dataframe().reset_index()
    
    #1
    df_final.loc[contador,["Avistamientos","Latitud","Longitud","Fecha"]] = row.values.tolist()
    df_final.loc[contador,variables] = datos.loc[0,['depth', 'mlotst','zos','bottomT','thetao','so','uo','vo']].values.tolist()
    #2
    df_final.loc[contador + 1,["Avistamientos","Latitud","Longitud","Fecha"]] = row.values.tolist()
    df_final.loc[contador + 1,variables] = datos.loc[1,['depth', 'mlotst','zos','bottomT','thetao','so','uo','vo']].values.tolist()
    #3
    df_final.loc[contador + 2,["Avistamientos","Latitud","Longitud","Fecha"]] = row.values.tolist()
    df_final.loc[contador + 2,variables] = datos.loc[2,['depth', 'mlotst','zos','bottomT','thetao','so','uo','vo']].values.tolist()
    if contador > 2:
        break
    print(contador, end='\r')    
    

df_final

0 433 Avistamientos                      1
Latitud                        -18.5
Longitud                       -70.5
Fecha            2014-05-01 00:00:00
Name: 433, dtype: object
++++ -70.5
-- 10.528886 False 0
1 387 Avistamientos                      1
Latitud                        -25.5
Longitud                       -70.5
Fecha            2014-05-01 00:00:00
Name: 387, dtype: object
++++ -70.5
-- nan True 0
++++ -70.41667175292969
-- 10.6814785 False 0.0833282470703125
2 286 Avistamientos                     13
Latitud                       -27.25
Longitud                         -71
Fecha            2014-05-09 00:00:00
Name: 286, dtype: object
++++ -71.0
-- 10.528886 False 0
3 287 Avistamientos                     23
Latitud                       -27.25
Longitud                         -71
Fecha            2014-05-10 00:00:00
Name: 287, dtype: object
++++ -71.0
-- 10.528886 False 0

,Avistamientos,Latitud,Longitud,Fecha,Profundidad,mlotst,zos,bottomT,thetao,so,uo,vo
0,1,-18.5,-70.5,2014-05-01 00:00:00,0.494025,10.5289,0.222785,13.3423,18.6518,34.9147,-0.0555437,0.0177007
1,1,-25.5,-70.5,2014-05-01 00:00:00,0.494025,10.6815,0.198675,13.1834,15.2078,34.7133,-0.108646,-0.116581
2,13,-27.25,-71,2014-05-09 00:00:00,0.494025,10.5289,0.124821,12.4538,14.4241,34.6522,-0.0427259,0.151372
3,23,-27.25,-71,2014-05-10 00:00:00,0.494025,10.5289,0.120548,12.4729,14.4065,34.6568,-0.0476089,0.0982696
4,23,-27.25,-71,2014-05-10 00:00:00,5.07822,10.5289,0.120548,12.4729,14.2806,34.6553,-0.0524918,0.0769066
5,23,-27.25,-71,2014-05-10 00:00:00,9.573,10.5289,0.120548,12.4729,14.2044,34.6568,-0.0299081,0.0616474

In [108]:
data = xr.open_dataset('../descargas/{}'.format('mercatorglorys12v1_gl12_mean_20140501_R20140507__filtrados.nc'))
data = data.sel({'latitude':-25.5})
print(data.mlotst.values)
data = data.sel({'longitude':-70.5})
data

[[57.069614  56.76443   56.306652  56.15406   55.848877  55.391098
  53.10221   52.644432  52.33925   52.03406   51.576283  51.42369
  51.88147   52.186653  52.33925   52.644432  52.797024  52.49184
  51.42369   49.134804  46.08295   46.54073   46.845917  47.456284
  47.76147   49.134804  49.134804  48.21925   48.21925   48.37184
  48.524433  48.37184   48.066654  47.914062  47.76147   47.76147
  47.60888   47.1511    46.54073   47.1511    47.76147   48.066654
  47.76147   46.845917  45.472584  44.557026  43.794064  42.87851
  42.115547  41.65777   41.505177  41.96295   41.96295   42.42073
  44.862213  45.625175  46.54073   47.76147   48.829617  50.355545
  51.728878  51.88147   52.186653  53.254803  54.32295   55.238506
  55.848877  56.00147   56.00147   55.69628   55.391098  55.085915
  54.780727  54.628136  54.780727  55.085915  55.848877  56.61184
  57.527393  58.748135  59.968876  60.27406   60.42665   60.73184
  61.4948    65.15702   69.5822    71.87109   76.601456  72.93924
  69.88739   60.579247  60.579247  67.140724  64.08887   63.020725
  64.546646  66.07257   68.20887   70.03998   72.328865  71.5659
  66.22517   54.780727  46.54073   56.306652  70.80294   72.328865
  65.004425  61.189617  60.27406   59.66369   59.205914  60.121468
  64.546646  71.413315  69.5822    59.968876  52.949615  55.391098
  61.03702   63.631096  59.358505  60.121468  70.49776   69.88739
  68.81924   68.20887   67.75109   68.36146   69.88739   71.7185
  71.5659    72.48146   71.87109   68.056274  65.15702   66.682945
  67.44591   66.98813   66.37776   66.53035   66.98813   67.44591
  67.90369   68.056274  68.36146   69.88739   71.10812   73.24442
  73.85479   76.29627   69.88739   52.644432  50.965916  54.32295
  56.459248  56.459248  56.15406   56.76443   57.83258   58.595543
  58.595543  59.053318  59.66369   59.816284  59.816284  59.358505
  58.900726  56.459248  55.69628   55.848877  56.61184   57.069614
  52.49184   50.050358  47.76147   49.134804  56.00147   62.868134
  65.004425  67.90369   70.03998   70.49776   70.19257   82.39998
  83.31553   82.70516   78.89035   79.8059    85.75701   74.465164
  75.83849   70.03998   68.81924   74.007385  78.43257   78.12739
  74.92294   71.5659    71.26072   72.786644  74.007385  78.43257
  78.43257   86.367386  86.21479   85.90961   86.21479   85.60442
  84.688866  84.07849   83.62072   83.16294   83.010345  83.010345
  77.8222    71.10812   70.955536  70.49776   69.5822    68.97183
  66.37776   58.44295   58.290356  57.83258   56.306652  48.982212
  48.829617  48.677025  48.524433  48.524433  48.677025  50.20295
  50.66073   49.287395  48.829617  48.37184   48.37184   50.050358
  50.965916  53.71258   54.32295   54.32295   54.017765  53.254803
  52.33925   52.03406   52.797024  54.170357  56.15406   57.22221
  59.968876  64.69924   65.61479   65.91998   64.39406   65.61479
  65.61479   65.462204  65.15702   65.004425  64.69924   64.39406
  63.783688  63.478504  62.868134  60.88443   56.459248  53.71258
  52.49184   52.49184   53.10221   53.10221   51.42369   49.134804
  49.897766  52.33925   52.03406   48.677025  47.76147   55.238506
  58.748135  60.121468  58.44295   60.88443   60.73184   60.121468
  59.816284  53.254803  50.66073   51.118507  51.728878  52.03406
  52.33925   52.797024  52.797024  52.644432  54.628136  55.848877
  55.69628   54.628136  53.254803  52.33925   52.33925   52.33925
  52.03406   51.728878  51.576283  51.42369   51.42369   51.576283
  51.576283  51.42369   52.33925   52.186653  52.03406   51.2711
  49.897766  47.914062  47.1511    47.76147   48.829617  50.050358
  51.88147   51.88147   50.81332   49.745174  52.49184   52.797024
  52.33925   51.728878  50.965916  48.066654  44.709618  44.557026
  43.0311    41.19999   45.167397  48.066654  46.388138  45.014805
  43.946655  43.946655  44.09925   46.08295   48.829617  50.66073
  51.728878  51.576283  52.186653  52.186653  51.728878  51.42369
  49.134804  44.404434  39.674065  27.771845  22.431107  28.229624
  42.573322  44.862213  43.64147   43.183693  43.183693  43.48888
  43.64147   43.48888   43.48888   44.404434  42.87851   40.58962
  41.505177  43.183693  47.30369   49.592583  50.66073   49.897766
  48.677025  47.60888   43.336285  41.96295   42.42073   43.0311
  46.99851   41.505177  41.96295   40.131844  37.53777   37.99555
  39.216286  38.60592   40.131844  41.19999   40.284435  41.81036
  42.87851   42.87851   42.573322  39.97925   39.521473  38.60592
  37.842953  36.622215  36.774807  37.69036   38.453323  40.894806
  41.65777   42.573322  42.573322  42.42073   41.65777   40.437027
  40.742214  41.352585  40.437027  40.284435  42.115547  42.573322
  46.08295   46.69332   45.625175  46.845917  46.69332   46.99851
  47.1511    46.235546  46.69332   45.167397  43.0311    42.26814
  42.26814   41.65777   41.19999   41.352585  41.81036   41.96295
  42.115547  42.115547  42.115547  41.96295   41.505177  41.81036
  42.26814   42.42073   42.115547  39.521473  39.674065  40.437027
  40.284435  40.437027  41.81036   40.742214  40.284435  39.521473
  36.317028  35.401474  33.41777   34.943695  38.911102  40.284435
  39.97925   39.97925   40.284435  43.0311    43.0311    43.0311
  42.725918  42.573322  42.42073   41.19999   37.385178  36.622215
  36.9274    37.53777   39.97925   42.26814   43.48888   44.251842
  44.404434  44.251842  44.09925   43.946655  43.946655  43.946655
  43.946655  43.946655  44.09925   44.404434  44.862213  45.31999
  45.625175  44.862213  44.709618  45.014805  45.93036   46.235546
  46.388138  46.69332   47.30369   47.76147   48.066654  48.066654
  48.37184   48.982212  50.050358  51.576283  52.949615  54.017765
  54.780727  55.69628   57.3748    55.848877  64.39406   69.5822
  70.65035   66.53035   62.56295   60.121468  60.121468  59.968876
  60.579247  60.579247  60.579247  60.579247  60.579247  60.579247
  60.579247  60.73184   54.780727  51.42369   51.42369   51.42369
  51.42369   51.42369   42.42073   39.674065  41.65777   42.87851
  45.777767  46.388138  46.99851   48.37184   49.592583  49.745174
  49.745174  49.439987  48.524433  47.914062  47.76147   47.30369
  46.08295   44.557026  43.48888   40.437027  39.521473  38.14814
  37.232586  36.622215  36.164436  36.46962   37.69036   38.453323
  39.216286  41.047398  45.472584  45.014805  44.251842  37.99555
  32.95999   25.940735  24.41481   25.025179  25.330364  23.499254
  22.888884  22.888884  24.567402  25.330364  27.008883  29.908142
  31.128881  28.53481   23.346663  19.837032  17.700737  16.174812
  14.95407   14.038515  14.648885  13.275552  11.291849  10.6814785
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan        nan        nan        nan        nan        nan
         nan]]

<xarray.Dataset>
Dimensions:    (depth: 3, time: 1)
Coordinates:
    longitude  float32 -70.5
    latitude   float32 -25.5
  * depth      (depth) float32 0.494025 5.078224 9.572997
  * time       (time) datetime64[ns] 2014-05-01T12:00:00
Data variables:
    mlotst     (time) float32 nan
    zos        (time) float32 ...
    bottomT    (time) float32 ...
    thetao     (time, depth) float32 ...
    so         (time, depth) float32 ...
    uo         (time, depth) float32 ...
    vo         (time, depth) float32 ...
Attributes:
    title:              daily mean fields from Global Ocean Physics Analysis ...
    easting:            longitude
    northing:           latitude
    history:            2017/10/02 13:44:49 MERCATOR OCEAN Netcdf creation
    source:             MERCATOR GLORYS12V1
    institution:        MERCATOR OCEAN
    references:         http://www.mercator-ocean.fr
    comment:            CMEMS product
    Conventions:        CF-1.4
    domain_name:        GL12
    field_type:         mean
    field_date:         2014-05-01 00:00:00
    field_julian_date:  23496.0
    julian_day_unit:    days since 1950-01-01 00:00:00
    forecast_range:     1-day_forecast
    forecast_type:      hindcast
    bulletin_date:      2014-05-07 00:00:00
    bulletin_type:      operational
    longitude_min:      -180.0
    longitude_max:      179.91667
    latitude_min:       -80.0
    latitude_max:       90.0
    z_min:              0.494025
    z_max:              5727.917

## Prueba juntar todo Copernicus en un solo DataFrame

In [29]:
#dataFrame gigante
df_copernicus = pd.DataFrame(columns = ["Avistamientos","Latitud","Longitud","Fecha","Profundidad","mlotst",'zos','bottomT','thetao','so','uo','vo'])
for contador, archivo in enumerate(os.listdir('../descargas')):
    ds = xr.open_dataset('../descargas/{}'.format(archivo))
    df_aux = ds.to_dataframe()
    df_copernicus = pd.concat([df_copernicus,df_aux])
    print(contador, end='\r') 
    if contador > 5:
        break

,Avistamientos,Latitud,Longitud,Fecha,Profundidad,mlotst,zos,bottomT,thetao,so,uo,vo
"(0.49402499198913574, -60.0, -120.0, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,69.429611,-1.085849,0.103367,3.171576,33.867916,0.260018,-0.060427
"(0.49402499198913574, -60.0, -119.91666412353516, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,70.192574,-1.079440,0.107029,3.184027,33.860287,0.259407,-0.053102
"(0.49402499198913574, -60.0, -119.83333587646484, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,70.802940,-1.073641,0.107029,3.192083,33.855709,0.265511,-0.040895
"(0.49402499198913574, -60.0, -119.75, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,69.124428,-1.068758,0.105564,3.198675,33.852657,0.273446,-0.024415
"(0.49402499198913574, -60.0, -119.66666412353516, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,65.004425,-1.065096,0.104832,3.205999,33.849606,0.280160,-0.004273
...,...,...,...,...,...,...,...,...,...,...,...,...
"(0.49402499198913574, -60.0, -112.08333587646484, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,67.445908,-0.892056,0.024261,3.741417,33.970154,0.014039,-0.030519
"(0.49402499198913574, -60.0, -112.0, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,70.039978,-0.888699,0.023529,3.734093,33.971680,0.013428,0.003662
"(0.49402499198913574, -60.0, -111.91666412353516, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,71.718498,-0.888699,0.022064,3.715048,33.973206,0.016480,0.070803
"(0.49402499198913574, -60.0, -111.83333587646484, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,71.565903,-0.892056,0.019867,3.663778,33.974731,0.007324,0.120853
"(0.49402499198913574, -60.0, -111.75, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,68.819237,-0.897244,0.016937,3.594929,33.970154,-0.016480,0.136723

In [30]:
df_copernicus.head(1000)

,Avistamientos,Latitud,Longitud,Fecha,Profundidad,mlotst,zos,bottomT,thetao,so,uo,vo
"(0.49402499198913574, -60.0, -120.0, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,69.429611,-1.085849,0.103367,3.171576,33.867916,0.260018,-0.060427
"(0.49402499198913574, -60.0, -119.91666412353516, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,70.192574,-1.079440,0.107029,3.184027,33.860287,0.259407,-0.053102
"(0.49402499198913574, -60.0, -119.83333587646484, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,70.802940,-1.073641,0.107029,3.192083,33.855709,0.265511,-0.040895
"(0.49402499198913574, -60.0, -119.75, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,69.124428,-1.068758,0.105564,3.198675,33.852657,0.273446,-0.024415
"(0.49402499198913574, -60.0, -119.66666412353516, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,65.004425,-1.065096,0.104832,3.205999,33.849606,0.280160,-0.004273
...,...,...,...,...,...,...,...,...,...,...,...,...
"(0.49402499198913574, -59.91666793823242, -97.16666412353516, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,67.140724,-0.605487,0.123875,5.360851,34.110538,0.057985,-0.010987
"(0.49402499198913574, -59.91666793823242, -97.08333587646484, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,63.325912,-0.601520,0.120945,5.388683,34.113590,0.066530,0.003052
"(0.49402499198913574, -59.91666793823242, -97.0, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,68.056274,-0.598468,0.121677,5.405530,34.113590,0.082400,0.024415
"(0.49402499198913574, -59.91666793823242, -96.91666412353516, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,82.094795,-0.596637,0.124607,5.402600,34.113590,0.104373,0.051271
"(0.49402499198913574, -59.91666793823242, -96.83333587646484, 2015-01-11 12:00:00)",NaN,NaN,NaN,NaN,NaN,90.639977,-0.596637,0.132664,5.377697,34.110538,0.131230,0.080569