In [97]:
import pandas as pd
import numpy as np
import math as m

In [59]:
datos = pd.read_excel('EstructuraFinal.xlsx')
datos = datos.drop(['Unnamed: 0'],axis=1).sort_values(by=['Latitud','Longitud','Profundidad','Fecha'])

In [60]:
# datos.loc[datos['mlotst'] == 0]
# datos['mlotst']
# for i in datos['mlotst']:
#     print(i)
datos.loc[np.isnan(datos['thetao'])]

,Avistamientos,Latitud,Longitud,Fecha,Coord,Profundidad,mlotst,zos,bottomT,thetao,...,vo_izq_2,Coord_izq_3,Profundidad_izq_3,mlotst_izq_3,zos_izq_3,bottomT_izq_3,thetao_izq_3,so_izq_3,uo_izq_3,vo_izq_3
380,1,-41.833333,-73.583333,2015-05-23,"(-41.83333333333334, -73.74999999999999)",9.572997,10.834071,0.102847,12.157201,NaN,...,0.24659,"[-41.83333333333334, -74.24999999999999]",9.572997,39.368881,0.103458,9.452284,12.658193,33.365887,-0.034181,-0.09949

In [132]:
filas_nan = datos[datos.isna().any(axis=1)] # filas con valores vacios
for index, fila in filas_nan.iterrows():
    num = fila.isna() # columnas con valores nan
    for index, value in num.items():
        if value:
            nombre = 'Coord'
            try:
                nombre = nombre + index[index.index('_'):]
            except:
                pass
            coordenadas = fila[nombre]
            print(type(coordenadas))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>